@font-face{
	font-family: 'affect';
	src: url("/assets/font/Roboto-Bold.ttf") format("truetype");
	font-family: "Roboto";
}

* {
	font-family: 'Roboto'
}

body {
	margin: 0px;
	width: 100%;
}

.container{
	padding: 0 60px;
}
.header {
	background-color: #124E73;
    color: white;
    line-height: 110px;
    
}
.header-menu {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	display: flex;
    column-gap: 50px;
    justify-content: space-evenly;
}
a.color{
	text-decoration: none;
	color: white;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; 
          text-size: 14;
}

h2 {
	margin: 15px;
}

.picture {
	margin: 30px 30px;
}
.slogan h1 {
	padding-top: 20px;
	padding-left: 555px;
	color: #112f4d;
}
.slogan h3 {
	margin: 15px 14px 0px 510px;
}
p {
	font-size: 14pt;
	color: #00416a;
	padding-top: 25px;
}

.line h1 {
	margin: 0;
	padding-top: 20px;
	padding-left: 60px;
	color: #112f4d;
}
.line p{
	font-size: 18pt;
	padding: 0;
	margin: 20px 0 20px 0;
}
.line-row {
	display: table-row;
}
.line-item {
	display: table-cell;	
	width: 33%;
	vertical-align: top;
	padding: 20px;
	padding-left: 55px;
	font-size: 16pt;
}
.textcols-row .textcols-item:first-child {
	border-left: none;
}
.line .line-item:last-child {
	margin-right: 0 ;
}

.price h1 {
	margin: 0;
	padding-top: 20px;
	padding-left: 60px;
	color: #112f4d;
}
.table {
	padding-right: 50px;
}
table {
	margin-top: 15px;
	margin-left: 100px;
  	width: 650px;
  	border-collapse: collapse;
  	text-align: center;
 	border: 1px solid #00416a;
}

td {
  	text-align: left;
	padding: 15px;
	border: 3px solid rgb(0, 76, 153);
}

.contacts h1 {
	margin: 0;
	padding-top: 20px;
	padding-left: 60px;
	color: #112f4d;
}
#glaw{
  margin:auto;
  width:880px;
}
.blok1, .blok2, .blok3, .blok4{
  float:left;
  margin:50px 100px 50px -90px;
  width:250px;
  padding: 5px;
  text-align: center;
}

.pm-work img{
	padding-left: 80px;
	padding-bottom: 30px;
}
.pm-work h1 {
	margin: 0;
	padding-left: 480px;
	color: #112f4d;
}

ol {
	list-style-type: none;
	counter-reset: number;
	position: relative;
	margin: 0 0 0 60px;
	padding: 15px 0 5px 0;
	font-size: 16px;
}
ol li{
	margin: 0;
	padding: 25px 0 10px 370px;
	font-size: 24px;
}

.footer {
  width: 100%;
  display: flex;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 2px solid #e5e5e5;
  flex-direction: row;
  align-items: stretch;
}

.footer__addr {
  margin: 0px -80px 25px 40px;
}

.footer__logo {
  font-weight: 400;
  font-size: 1.5rem;
  color: #112f4d;
}

.footer__addr h2 {
  font-size: 20px;
  font-weight: 400;
}

.footer address {
  font-style: normal;
  color: #646664;
  margin-top: 15px;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin-top: 15px;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 50px;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.nav__ul a {
  color: #646664;
  font-size: 18px;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
.legal__links {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}